/* Colores; Mirar FIGMA. */
.custom-black-color {
  color: #0D0210
}

.custom-white-color {
  color: #FFFBFF
}

.custom-violet-first-color {
  color: #4D3147
}

.custom-violet-second-color {
  color: #866A80
}

.custom-violet-third-color {
  color: #C9B7C7
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FFFBFF;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-content {
  margin-top: 5px;
}

.tooltip-modal {
  position: fixed;
  z-index: 9999;
  padding: 10px;
  background-color: #FFFBFF;
  color: #4D3147;
  border-radius: 4px;
  font-size: 14px;
}

#lineaHorizontal {
  text-shadow: 2px 18px 6px rgba(77,49,71,0.98);
}

.btn-reset {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}