/* Colores; Mirar FIGMA. */
.custom-black-color {
    color: #0D0210
}

.custom-white-color {
    color: #FFFBFF
}

.custom-violet-first-color {
    color: #4D3147
}

.custom-violet-second-color {
    color: #866A80
}

.custom-violet-third-color {
    color: #C9B7C7
}